doctype html
html
  head
    title Get IP
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet')
    style
      include ./styles.css
  body
    div.title #{ip}
    div.subtitle #{userAgent}
