doctype html
html
  head
    title
      Youtube DL
    style
      include ./index-style.css
  body
    div(id='mask' class='mask')
      img(src='https://s3-ap-southeast-1.amazonaws.com/my-fucking-bucket/spin.gif')
    input(id='input' type='text' class='input' placeholder='Youtube URL')
    script
      include ./index-script.js
